@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700&display=swap');

* {
  background-color: #e2f3cb;
  font-family: Namum Gothic, sans-serif;
}

.cen {
  text-align: center;
}

.lside {
  width: 200px;
  height: auto;
  float: left;
  background-color: gray;
  padding: 1px;
}

.co {
  width: auto;
  height: auto;
  float: left;
  padding: 5px;
}

.h {
  font-family: Noto Serif KR, serif;
}
